html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.app-open{
    width: 50vw;
    height: 80vh;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: inline-block;
    pointer-events: none;
    align-content: center;
    text-align: center;
}

.app-open-close{
    top: 0%;
    right: 0%;
    position: absolute;
    width: 3vw;
    aspect-ratio: 1/1;
    background-color: red;
    pointer-events: auto;
}

.city-input{
    pointer-events: all;
}