html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app-open{
    overflow: hidden;
    width: 50vw;
    height: 80vh;
    background-color: #333;
    position: absolute;
    left: 25%;
    bottom: 10%;
    pointer-events: none;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    user-select: none; /* Prevents text selection while dragging */
}

.app-move{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    aspect-ratio: 17/1;
    pointer-events: auto;
    background-color: rgb(88, 87, 87);
    background-size: cover;
    background-position: center;
    cursor: move;
}

.app-open-close{
    top: 0%;
    right: 0%;
    position: absolute;
    width: 3vw;
    aspect-ratio: 1/1;
    pointer-events: auto;
    background-color: red;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}

.app-open-close:hover{
    opacity: 0.5;
}

.city-input-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 10px; /* Adds spacing between input and button */
    margin-top: 10px;
}

.city-input{
    pointer-events: all;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgba(255,255,255,0.2);
    border: none;
    border-radius: 10px;
}

.city-button{
    width: auto;
    padding: 1%;
    color: white;
    background-color: rgba(255,255,255,0.2);
    pointer-events: auto;
    border-radius: 10%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.city-button .text {
    pointer-events: none;  /* Disable pointer events for the text */
}

.city-button:hover{
    opacity: 0.5;
}

.weather-info {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: white;
    text-align: center;
}

