/*fullscreen*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}



.bg-card-weather{
    border-radius: 10px;
    width: 7%;
    min-width:50px ;
    aspect-ratio: 1/1;
    background-color: rgba(76, 75, 75, 0.5);
    border: 1.5px solid black;
    margin: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(./assets/weatherIcon.png);
}

.bg-card{
    border-radius: 10px;
    width: 7%;
    min-width: 50px;
    aspect-ratio: 1/1;
    background-color: #4c4b4b;
    border: 1.5px solid black;
    margin: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.bg-card-github{
    border-radius: 10px;
    width: 7%;
    min-width:50px ;
    aspect-ratio: 1/1;
    background-color: rgba(76, 75, 75, 0.3);
    border: 0.5px solid black;
    margin: 5px;
    overflow: hidden;
    background-size:80% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/githubicon.png);
}

.bg-card-astarvisualization{
    border-radius: 10px;
    width: 7%;
    min-width:50px ;
    aspect-ratio: 1/1;
    background-color: rgba(76, 75, 75, 0.3);
    border: 0.5px solid black;
    margin: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(./assets/astarlogo.png);
}

.bg-card-astarmap{
    border-radius: 10px;
    width: 7%;
    min-width:50px ;
    aspect-ratio: 1/1;
    background-color: rgba(76, 75, 75, 0.3);
    border: 0.5px solid black;
    margin: 5px;
    overflow: hidden;
    background-size:80% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/mapicon.png);
}

.bg-card:hover, .bg-card-weather:hover, .bg-card-astarvisualization:hover, .bg-card-astarmap:hover, .bg-card-github:hover{
    opacity: 0.5;
}

.taskbar{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 8%;
    background-color: #1e293b;
    opacity: 0.92;
    flex-shrink: 2;
    display: flex;
}

.taskbar > * { /* symbol means it applies to child elements*/
    height: 87%;
    margin: 2px 2px;
    aspect-ratio: 1/1;
}

.taskbar-time{
    position: absolute;
    right: 0px;
    aspect-ratio: 2/1;
    text-align: center;
    font-size: clamp(20%, 2vh, 1000%);
    pointer-events: none;
    margin-right: 10px;
    /* ahhhgahsj nneed to properly center this*/
}



.taskbar-start{
    position: absolute;
    background-image: url(./img/startIcon.png);
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    margin-left: 10px;
}

.taskbar-start:hover{
    background-color: #777777;
}

.taskbar-start > * {
    pointer-events: none;
}

.taskbar-start .home-menu.active{
    opacity: 0.92;
    bottom: 120%;
    left: 3%;
    pointer-events: all;
}

.home-menu{
    position: absolute;
    bottom: 95%;
    left: 3%;
    width: 700%;
    height: 800%;
    background-color: #333;
    opacity: 0;
    transition: 0.5s;
}  

.footer-menu{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15%;
    max-height: 15%;
    background-color: black;
}

.footer-menu > * { /* symbol means it applies to child elements*/
    height: 87%;
    margin: 2px 2px;
    aspect-ratio: 1/1;
}


.logout{
    right: 1%;
    position: absolute;
    background-image: url(./img/logoutIcon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.user-pic{
    position: absolute;
    background-image: url(./img/profilePic.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.user-name{
    position: absolute;
    padding: 4% 8%;
    left: 10%;
    color: white;
    font-size: medium;
}


