body {
    font-family: 'Arial', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}