/*fullscreen*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.bg-blurred{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.profile-button{
    position: absolute;
    font-size: small;
    top: 50%;
    left: 50%; 
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    border: rgb(87, 87, 87) solid 3px;
    background-image: url(./img/profilePic.jpg);
    background-size: cover;
    background-position: center;
   
}

.profile-button:hover{
    box-shadow: 0 6px 16px rgba(0, 0, 0); 
}

.profile-text{
    position: absolute;
    bottom: 0px;
    left: 25%;
    opacity: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.3s, 0.3s;
    pointer-events: none;
}

.profile-button:hover .profile-text{
    opacity: 1;
    bottom: 10%;
}


.profile-name{
    position: inherit;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
